html {
    scroll-behavior: smooth;
}

.content {
    background-color: lightgray;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 100vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

iframe {
    margin-top: 3vh;
}

#home h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

#home h3 {
    margin-bottom: 30px;
}

.algorithm-visualizer {
    text-align: center;
}

#projects {
    vertical-align: top;
}

#projects h1 {
    margin-bottom: 10vh;
}

#projects .description {
    margin-top: 4vh;
}